.experience {
  display: flex;
  align-items: start;
  // margin-bottom: 1em;
  padding: 1em;

  &__time {
    font-size: 0.9rem;
    margin-bottom: 0.5em;
    color: $primaryColor;
  }
  &__job {
    margin: 0;
    margin-bottom: 0.5em;
  }
  &__description {
    font-size: 0.9rem;
    // margin-bottom: 1.5em;
  }
}
