.nav {
    @include flexCenter(row, flex-end, center);
   
    background-color: $bgColor;
    height: 3rem;
  
    &__link {
      text-decoration: none;
      margin-right: 1rem;
      color: $textColor;
      text-transform: uppercase;
      padding: 0.9rem;
    }
  
    &__link:hover {
      background-color: $primaryColor;
      color: $textColor;
      transition: 0.5s;
    }
  }