a {
  color: $primaryColor;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.title {
  text-align: center;
  color: $primaryColor;
}

.card {
  padding: 1em;
  background-color: $bgCardColor;
  border-radius: $borderRadius;
  margin: 5px 0px;

  &__image-container {
    display: flex;
    justify-content: center;

    min-width: 320px;
    border-radius: $borderRadius;
    overflow: hidden;
  }

  &_image {
    height: 340px;
  }

  &__header {
    padding: 0 0 0.5em 0.5em;
  }

  &__title {
    //   margin-bottom: 1em;
    font-size: 1.5rem;
  }

  &__subtitle {
    font-size: 1.2rem;
    opacity: 0.8;
  }

  &__body {
    padding: 0 0.5em 0 0.5em;
  }

  &__link {
    margin-bottom: 0.5em;
  }

  &__text {
    padding: 0.5em 0 0 0;
    font-size: 0.9rem;
    line-height: 1.6;
    text-align: justify;
  }
}
