@import './utilities/variables';
@import './utilities/mixins';

@import './block/header';

* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background-color: $bgColor;
    color: $textColor;
    font-family: sans-serif;
  }