.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  background-color: #fafafa;
  padding: 0 2.5em;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafa;
  height: 3rem;
}

@media screen and (min-width: 360px) {
  .nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__link {
  text-decoration: none;
  margin-right: 1rem;
  color: #4f4f4f;
  font-size: 16px;
  padding: 0.9rem;
}

.nav__link:hover {
  color: #4f4f4f;
  border-bottom: 3px solid #3182ed;
}

@media screen and (min-width: 768px) {
  .icon__menu {
    display: none;
  }
}

.colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  width: 100px;
}

.colors__item {
  width: 20px;
  height: 20px;
  border: 1px solid #fafafa;
  border-radius: 50%;
  background-color: #3182ed;
  cursor: pointer;
}

.colors__item--blue {
  background-color: #3182ed;
}

.colors__item--orange {
  background-color: #edc131;
}

.colors__item--green {
  background-color: #ed3131;
}

a {
  color: #3182ed;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.title {
  text-align: center;
  color: #3182ed;
}

.card {
  padding: 1em;
  background-color: #fafafa;
  border-radius: 0.4em;
  margin: 5px 0px;
}

.card__image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 320px;
  border-radius: 0.4em;
  overflow: hidden;
}

.card_image {
  height: 340px;
}

.card__header {
  padding: 0 0 0.5em 0.5em;
}

.card__title {
  font-size: 1.5rem;
}

.card__subtitle {
  font-size: 1.2rem;
  opacity: 0.8;
}

.card__body {
  padding: 0 0.5em 0 0.5em;
}

.card__link {
  margin-bottom: 0.5em;
}

.card__text {
  padding: 0.5em 0 0 0;
  font-size: 0.9rem;
  line-height: 1.6;
  text-align: justify;
}

@media screen and (min-width: 768px) {
  .card--project {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: min-content 1fr;
        grid-template-columns: -webkit-min-content 1fr;
        grid-template-columns: min-content 1fr;
    grid-column: 1 / -1;
  }
}

.project {
  position: relative;
}

@media screen and (min-width: 768px) {
  .project {
    margin-left: 2em;
  }
}

.project__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em 0;
  font-size: 0.6rem;
  width: 275px;
}

@media screen and (min-width: 768px) {
  .project__tags {
    width: 325px;
    font-size: 0.8rem;
  }
}

.project__tag {
  padding: 0.4em 0.8em;
  border-radius: 0.4em;
  background-color: #3182ed;
  color: #e6e6e6;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 225px;
}

@media screen and (min-width: 992px) {
  .buttons {
    position: absolute;
    bottom: 1em;
  }
}

.button {
  width: 100px;
  line-height: 2.5;
  text-align: center;
  border-radius: 0.4em;
}

.button--primary {
  background-color: #3182ed;
  color: #e6e6e6;
}

.button--ghost {
  background-color: transparent;
  border: 1px solid #3182ed;
  color: #3182ed;
}

.experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 1em;
}

.experience__time {
  font-size: 0.9rem;
  margin-bottom: 0.5em;
  color: #3182ed;
}

.experience__job {
  margin: 0;
  margin-bottom: 0.5em;
}

.experience__description {
  font-size: 0.9rem;
}

.skills {
  padding: 1em 0;
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__bar,
.skills__bar::after {
  position: relative;
  width: 300px;
  height: 8px;
  background-color: #888;
  border-radius: 0.4em;
  overflow: hidden;
}

.skills__bar::after {
  content: "";
  position: absolute;
  left: -300px;
  background-color: #3182ed;
}

.skills__bar--50::after {
  content: "";
  position: absolute;
  left: -150px;
  background-color: #3182ed;
}

.skills__bar--30::after {
  content: "";
  position: absolute;
  left: -210px;
  background-color: #3182ed;
}

.skills__bar--10::after {
  content: "";
  position: absolute;
  left: -270px;
  background-color: #3182ed;
}

.skills__bar1,
.skills__bar1::after {
  position: relative;
  width: 250px;
  height: 8px;
  background-color: #888;
  border-radius: 0.4em;
  overflow: hidden;
}

.skills__bar1::after {
  content: "";
  position: absolute;
  left: -250px;
  background-color: #3182ed;
}

.skills__bar--a::after {
  content: "";
  position: absolute;
  left: -50px;
  background-color: #3182ed;
}

.skills__bar--b::after {
  content: "";
  position: absolute;
  left: -70px;
  background-color: #3182ed;
}

.skills__bar--c::after {
  content: "";
  position: absolute;
  left: -40px;
  background-color: #3182ed;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #e6e6e6;
  color: #4f4f4f;
  font-family: "Roboto", sans-serif;
}

.main {
  display: -ms-grid;
  display: grid;
  padding: 1.5em;
}

@media screen and (min-width: 768px) {
  .main {
    -ms-grid-columns: min-content 1fr;
        grid-template-columns: -webkit-min-content 1fr;
        grid-template-columns: min-content 1fr;
  }
}

.column {
  display: -ms-grid;
  display: grid;
  gap: 0.5em;
}

@media screen and (min-width: 768px) {
  .column--right {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: ()[min-content];
        grid-template-rows: repeat(-webkit-min-content);
        grid-template-rows: repeat(min-content);
    margin-left: 20px;
  }
}
/*# sourceMappingURL=main.css.map */